<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">SoftFusion</span>
                        <hr class="star-light">
                        <span class="skills">Desenvolvimento  - Consultoria - Serviços</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<%= render "layouts/sobre"%>