    <!-- About Section -->
    <section class="success" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A Softfusion é uma empresa voltada ao desenvolvimento de sistemas e o conhecimento de novas tecnologias</p>
                </div>
                <div class="col-lg-4">
                    <p>Desenvolvemos Soluções voltadas ao mundo corporativo, Startups e governo.
                  Caso queira entrar em contato para discutir novas propostas ou novas tecnologias </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Entre em contato
                    </a>
                </div>
            </div>
        </div>
    </section>